// Place all the styles related to the LoanerPool controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.header {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    //background: asset_path('bj.jpg') no-repeat center center scroll; 
    //background-image: url(image_path('bj.jpg'));
    //background: image-url("bj.jpg") no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

p {
  color: black;
}
